@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


    .about__container{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
       
    }
    .about{
      width:100vw;
     
    }
    .about>h1{text-align: center;}
    .about__left>img{margin-left:2rem;
    
    width:300px;
height:300px;}
    .about__right>p{
        max-width:40rem;
        margin-left:6rem;
        margin-bottom:10rem;
    }

  

}